@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (@ViewData["UserNameM"] !=null)
{
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>

                <li><a asp-area="" asp-controller="Profile" asp-action="Index">Merhaba @ViewData["UserNameM"]!</a></li>
            </li>
            <li>
                <a href="/home/logout">Logout</a>
            </li>
        </ul>
    </form>
}

