a{
    cursor: pointer!important;
}
.margin10{
    margin-top: 10px;
}
.img_relative{
    position: relative;
    width: 100%;
}
.hblok{
    position: absolute;
    z-index: 9999;
    top:324px;
    left: 673px;
    color: red;
    font-size: 62px;
    font-weight: bold;
}
.hblok:hover{
    color: black;
    text-decoration: none;
}
.lblok{
    position: absolute;
    z-index: 9999;
    top: 389px;
    left: 825px;
    color: red;
    font-size:62px;
    font-weight: bold
}
.lblok:hover{
    color: black;
    text-decoration: none;
}
.mblok{
    position: absolute;
    text-decoration: none;
    z-index: 9999;
    top: 461px;
    left: 960px;
    color: red;
    font-size:62px;
    font-weight: bold
}
.mblok:hover{
    color: black;
    text-decoration: none;
}
.floor{
    text-decoration: none!important;
    padding: 20px 50px;
    border: 1px solid #000;
    border-radius: 20px;
    clear: both;
}